<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404 - Not_Found | CodeHost</title>
		<script src="https://cdn.jsdelivr.net/npm/geist@1.3.1/dist/font.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h2>404: NOT FOUND</h2>
			<h4>We can't seem to find the page you're looking for.</h4>
			<p>
				The page you requested may have been moved or deleted, or the
				URL may be incorrect.
			</p>
		</div>
	</body>
	<style>
		html {
			font-size: 16px;
		}
		* {
			font-family: "Geist Mono", monospace;
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			letter-spacing: -0.25px;
		}
		body {
			padding: 4rem;
		}
		h2 {
			font-weight: 700;
		}
		h4 {
			font-weight: 500;
			margin-top: 0.5rem;
			font-size: 1rem;
		}
		p {
			font-size: 15px;
			margin-top: 1.25rem;
			color: gray;
			font-weight: 400;
		}
		@media screen and (max-width: 768px) {
			body {
				padding: 1rem;
				font-size: 14px;
			}
		}
	</style>
</html>
